.container {
  width: 600px; 
  margin: auto;
}

h1 {
 background-color: #4F8EBA; 
 color: white;
 height: 50px; 
 border-radius: 5px;
 padding-left: 70px; 
 padding-top: 10px; 
 font-family: 'Cormorant Garamond', serif;
 font-family: 'Gupter', serif;
 font-family: 'Jomhuria', cursive;
 font-family: 'Stoke', serif;
}

h2 {
 display: grid; 
 color: #28151E;
 width: 400px;
 border-bottom: 2px solid #000000;
 margin-left: 20px;
 text-align: left; 
 font-weight: 40px;
 font-family: 'Cormorant Garamond', serif; 
 font-family: 'Gupter', serif;
 }

.picture {
 border-radius: 5px; 
 float: right; 
 width: 120px;
 height: 150px;
 margin-top: -50px; 
 margin-right: 20px;
}

.list {
 padding-left: 80px; 
 color: #28151E; 
 max-width: 300px;
 line-height: 20px; 
 padding-bottom: 20px;
 font-size: 12px;
 font-family: 'Cormorant Garamond', serif;
 font-family: 'Darker Grotesque', sans-serif; 
 font-family: 'Farsan', cursive;
 font-family: 'Gupter', serif; 
 font-family: 'Jomhuria', cursive; 
 font-family: 'Stoke', serif;
} 

.myfooter {
 background-color: #4F8EBA;
 color: #28151E; 
 height: 50px; 
 font-family: 'Cormorant Garamond', serif; 
 font-family: 'Gupter', serif; 
 font-size: 16px;
 border-radius: 5px; 
 text-align: center; 
 padding-top: 10px; 
 line-height: 20px;
}
#byuilink {
 color: #28151E;
}

ul a {
  color: #B83A14;
}

#currentdate {
 color:#B83A14;
}

span {
  font-weight: 700;
}